.gap {
    margin: 30px 0 30px 0;
}

.chat-message {
    height: 50vh;
    overflow: auto;
}

.chat {
    list-style: none;
    margin: 0;
}

.chat li.left .chat-body {
    margin-right: 30px;
}

.chat li .chat-body {
    position: relative;
    font-size: 11px;
    padding: 10px;
    border: 3px solid #f1f5fc;
}

.chat li .chat-body .header {
    padding-bottom: 5px;
    border-bottom: 1px solid #f1f5fc;
}

.chat li .chat-body p {
    margin-top: 10px;
}

.chat li {
    margin: 15px 0;
}

.primary-font {
    color: #3c8dbc;
}

/* scroll Bar handle */

/* width */

.chat-message::-webkit-scrollbar {
    width: 10px;
}

/* Track */

.chat-message::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */

.chat-message::-webkit-scrollbar-thumb {
    background: #30A5FF;
}

/* Handle on hover */

.chat-message::-webkit-scrollbar-thumb:hover {
    background: #555;
}