    #gap {
        margin-top: 65px;
    }

/* -------------------------- pharmacyDetails --------------------------*/
    #map {
        height: 500px;
        width: auto;
        margin: auto;
    }

    .details{
        margin-top: 40px;
    }