.gap{
    margin-top: 65px;
}

.wrapper, .medicineForm {
    margin-top: 120px;
    text-align: center;
}

.medicineForm {
    margin-top: 60px;
}


/* -------------------------- Search Result Page --------------------------*/

.thumbnail img{
    height: 150px;
    width: 150px;
}

/* -------------------------- Address Bar --------------------------*/
#imaginary_container {
    margin-top: 20%;
    /* Don't copy this */
}

.stylish-input-group .input-group-addon {
    background: white !important;
}

.stylish-input-group .form-control {
    border-right: 0;
    box-shadow: 0 0 0;
    border-color: #ccc;
}

.stylish-input-group button {
    border: 0;
    background: transparent;
}

.detectLocationAddon {
    border-left: 0;
    color: red;
    font-size: 1.3em;
}

.search {
    min-width: 300px;
}
/* -------------------------- pharmacyDetails --------------------------*/
#map {
    height: 500px;
    width: auto;
    margin: auto;
}

.details {
    margin-top: 40px;
}